@{
    ViewData["Title"] = "Form Controls";
}

<container>
    <row class="mt-4" alignment="Center">
        <column xs-size="8">
            <h4 class="mb-4">Vertical Form</h4>
            <form>
                <form-group>
                    <checkbox-list bc-label="Default Checkboxes">
                        <input type="checkbox" bc-label="Default" />
                        <input type="checkbox" bc-label="Disabled" disabled />
                        <input type="checkbox" bc-label="Checked" checked />
                    </checkbox-list>
                </form-group>
                <form-group>
                    <input type="text" bc-label="Username: " value="timm.bremus" bc-static="true" />
                </form-group>
                <form-group>
                    <input bc-label="E-mail address" bc-required="true" type="text" />
                </form-group>
                <form-group>
                    <input type="password" placeholder="Enter password" />
                </form-group>
                <form-group>
                    <select bc-label="Country" bc-help="Select your country where you live">
                        <option>Germany</option>
                        <option>United States</option>
                        <option>Spain</option>
                    </select>
                </form-group>
                <form-group>
                    <select bc-label="Interests" multiple>
                        <option>Swimming</option>
                        <option>Painting</option>
                        <option>Reading</option>
                    </select>
                </form-group>
                <form-group>
                    <checkbox-list bc-label="Skills" bc-inline="true">
                        <input type="checkbox" bc-label="HTML5" />
                        <input type="checkbox" bc-label="CSS3" />
                        <input type="checkbox" bc-label="Javascript" />
                    </checkbox-list>
                </form-group>
                <form-group>
                    <radio-list bc-label="Gender" bc-inline="true">
                        <input type="radio" name="gender" bc-label="Male" />
                        <input type="radio" name="gender" bc-label="Female" />
                    </radio-list>
                </form-group>
                <form-group>
                    <textarea bc-label="Curriculum Vitae" bc-help="Describe the most important stations in your life"></textarea>
                </form-group>
                <form-group>
                    <input type="file" bc-label="Profile Picture" />
                </form-group>
                <form-group>
                    <input type="range" bc-label="Salary" min="0" max="100" step="1" />
                </form-group>
            </form>
        </column>
    </row>
    <hr />
    <row class="mt-4" alignment="Center">
        <column xs-size="8">
            <h4 class="mb-4">Horizontal Form</h4>
            <form bc-horizontal="true" bc-label-width-xs="4" bc-label-width-sm="4">
                <form-group>
                    <input type="text" bc-label="Username" value="timm.bremus" bc-static="true" />
                </form-group>
                <form-group>
                    <input type="text" bc-label="Email address" bc-help="We'll never share your email with anyone else." placeholder="Enter email address" />
                </form-group>
                <form-group>
                    <input type="password" bc-label="Password" placeholder="Enter password" />
                </form-group>
                <form-group>
                    <select bc-label="Country" bc-help="Select your country where you live">
                        <option>Germany</option>
                        <option>United States</option>
                        <option>Spain</option>
                    </select>
                </form-group>
                <form-group>
                    <select bc-label="Interests" multiple>
                        <option>Swimming</option>
                        <option>Painting</option>
                        <option>Reading</option>
                    </select>
                </form-group>
                <form-group>
                    <checkbox-list bc-label="Options" bc-inline="true">
                        <input type="checkbox" bc-label="Option one" />
                        <input type="checkbox" bc-label="Option two" />
                    </checkbox-list>
                </form-group>
                <form-group>
                    <radio-list bc-label="Options">
                        <input type="radio" name="radio1" bc-label="Option one" />
                        <input type="radio" name="radio1" bc-label="Option two" />
                    </radio-list>
                </form-group>
                <form-group>
                    <textarea bc-label="Curriculum Vitae" bc-help="Describe the most important stations in your life"></textarea>
                </form-group>
                <form-group>
                    <input type="file" bc-label="Profile Picture" />
                </form-group>
                <form-group>
                    <input type="range" bc-label="Salary" />
                </form-group>
            </form>
        </column>
    </row>
    <hr />
    <row class="mt-4" alignment="Center">
        <column xs-size="8">
            <form>
                <h4 class="mb-4">Input Groups</h4>
                <form-group>
                    <input type="text" bc-pre-addon="@@" />
                </form-group>
                <form-group>
                    <input type="text" bc-post-addon="@@example.com" />
                </form-group>
                <form-group>
                    <input type="text" bc-pre-addon="$" bc-post-addon=".00" />
                </form-group>

                <h4 class="mt-4">Sizing</h4>
                <form-group>
                    <input type="text" bc-size="Small" bc-post-addon="@@example.com" placeholder="Small Input Group" />
                </form-group>
                <form-group>
                    <input type="text" bc-post-addon="@@example.com" placeholder="Normal Input Group" />
                </form-group>
                <form-group>
                    <input type="text" bc-size="Large" bc-post-addon="@@example.com" placeholder="Large Input Group" />
                </form-group>
                <form-group>
                    <input type="text" bc-size="Small" placeholder="Small Input Group" />
                </form-group>
                <form-group>
                    <input type="text" placeholder="Normal Input Group" />
                </form-group>
                <form-group>
                    <input type="text" bc-size="Large" placeholder="Large Input Group" />
                </form-group>
            </form>
        </column>
    </row>
</container>