@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}

<container>
    <row class="mt-4">
        <column>
            <jumbotron bc-fluid="true">
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">
                    This is a simple hero unit, a simple jumbotron-style component
                    for calling extra attention to featured content or information.
                </p>
                <hr class="my-4">
                <p>
                    It uses utility classes for typography and spacing to space content
                    out within the larger container.
                </p>
                <p class="lead">
                    <a bc-button="true" bc-size="Large" href="#">Learn more</a>
                </p>
            </jumbotron>
        </column>
    </row>
    <h4 class="mt-4">Modal Dialog</h4>
    <row class="mt-4">
        <column>
            <modal bc-toggle-text="Launch Modal Dialog" bc-position="Center">
                <modal-body>
                    <p>Woohoo, you're reading this text in a modal!</p>
                </modal-body>
                <modal-footer>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </modal-footer>
            </modal>
        </column>
        <column>
            <modal bc-toggle-text="Launch Modal Dialog">
                <modal-header>
                    <h3>Modal title</h3>
                </modal-header>
                <modal-body>
                    <p>Woohoo, you're reading this text in a modal!</p>
                </modal-body>
                <modal-footer>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </modal-footer>
            </modal>
        </column>
        <column>
            <modal bc-toggle-text="Launch small Modal Dialog" bc-header="Modal Dialog 1" bc-size="Small">
                <modal-body>
                    <p>Woohoo, you're reading this text in a modal!</p>
                </modal-body>
                <modal-footer>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </modal-footer>
            </modal>
        </column>
        <column>
            <modal bc-toggle-text="Launch large Modal Dialog" bc-size="Large">
                <modal-header>
                    <h3>Modal title</h3>
                </modal-header>
                <modal-body>
                    <p>Woohoo, you're reading this text in a modal!</p>
                </modal-body>
                <modal-footer>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </modal-footer>
            </modal>
        </column>
    </row>

    <h4 class="mt-4">Popovers</h4>
    <row class="mt-4">
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-placement="Top">Popover on top</button>
        </column>
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-placement="Bottom">Popover on bottom</button>
        </column>
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-placement="Right">Popover on right</button>
        </column>
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-placement="Left">Popover on left</button>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-title="Popover on top" bc-popover-placement="Top">Popover with title</button>
        </column>
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-title="Popover on bottom" bc-popover-placement="Top" bc-popover-dismissible="true">Popover is dismissible</button>
        </column>
        <column>
            <button type="button" bc-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." bc-popover-title="Popover on bottom" bc-popover-placement="Top" bc-popover-dismissible="true" bc-popover-delay="1000">Popover with deplay</button>
        </column>
        <column>
        </column>
    </row>
    <h4 class="mt-4">Tooltips</h4>
    <row class="mt-4">
        <column>
            <button type="button" bc-tooltip="Tooltip on top">Tooltip on top</button>
        </column>
        <column>
            <button type="button" bc-tooltip="Tooltip on right" bc-tooltip-placement="Right">Tooltip on right</button>
        </column>
        <column>
            <button type="button" bc-tooltip="Tooltip on bottom" bc-tooltip-placement="Bottom">Tooltip on bottom</button>
        </column>
        <column>
            <button type="button" bc-tooltip="Tooltip on left" bc-tooltip-placement="Left">Tooltip on left</button>
        </column>
        <column>
            <button type="button" bc-tooltip="<em>Tooltip</em> <u>with</u> <b>HTML</b>" bc-tooltip-html="true">Tooltip with HTML</button>
        </column>
    </row>
    <h4 class="mt-4">Pagination</h4>
    <row class="mt-4">
        <column>
            <pagination bc-size="Large">
                <pagination-item href="#">1</pagination-item>
                <pagination-item href="#" bc-disable="true">2</pagination-item>
                <pagination-item href="#">3</pagination-item>
            </pagination>

            <pagination bc-previous-text="Previous" bc-previous-href="javascript: app.previous();">
                <pagination-item href="#" bc-active="true">1</pagination-item>
                <pagination-item href="#">2</pagination-item>
                <pagination-item href="#">3</pagination-item>
            </pagination>
        </column>
        <column>
            <pagination bc-size="Large" bc-previous-text="Previous" bc-next-text="Next">
                <pagination-item href="#">1</pagination-item>
                <pagination-item href="#">2</pagination-item>
                <pagination-item href="#">3</pagination-item>
            </pagination>
        </column>
        <column>
            <pagination bc-size="Small">
                <pagination-item href="#">1</pagination-item>
                <pagination-item href="#">2</pagination-item>
                <pagination-item href="#" bc-active="true">3</pagination-item>
            </pagination>
        </column>
    </row>
    <row>
        <column>
            <pagination>
                <pagination-item href="#">1</pagination-item>
                <pagination-item href="#">2</pagination-item>
                <pagination-item href="#">3</pagination-item>
            </pagination>
        </column>
    </row>
    <row>
        <column>
            <pagination bc-alignment="Center">
                <pagination-item href="#">1</pagination-item>
                <pagination-item href="#">2</pagination-item>
                <pagination-item href="#">3</pagination-item>
            </pagination>
        </column>
    </row>
    <row>
        <column>
            <pagination bc-alignment="Right">
                <pagination-item href="#">1</pagination-item>
                <pagination-item href="#">2</pagination-item>
                <pagination-item href="#">3</pagination-item>
            </pagination>
        </column>
    </row>
</container>