@{
    ViewData["Title"] = "Tables";
}

<container>
    <row class="mt-4">
        <column>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                </tbody>
            </table>
        </column>
        <column>
            <table bc-theme="Dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                </tbody>
            </table>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <table>
                <thead bc-theme="Dark">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                </tbody>
            </table>
        </column>
        <column>
            <table>
                <thead bc-theme="Light">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                </tbody>
            </table>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr bc-background="Primary">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr bc-background="Secondary">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr bc-background="Success">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                    <tr bc-background="Danger">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr bc-background="Warning">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr bc-background="Info">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@@twitter</td>
                    </tr>
                    <tr bc-background="Light">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr bc-background="Dark">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                </tbody>
            </table>
        </column>
        <column>
            <table>
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                        <th>Column 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th bc-background="Info" scope="row">Info</th>
                        <td bc-background="Primary">Primary</td>
                        <td bc-background="Secondary">Secondary</td>
                        <td bc-background="Success">Success</td>
                    </tr>
                    <tr>
                        <th bc-background="Info" scope="row">Info</th>
                        <td bc-background="Danger">Danger</td>
                        <td bc-background="Warning">Warning</td>
                        <td bc-background="Info">Info</td>
                    </tr>
                    <tr>
                        <th bc-background="Info" scope="row">Info</th>
                        <td bc-background="Light">Light</td>
                        <td bc-background="Dark">Dark</td>
                        <td bc-background="White">White</td>
                    </tr>
                </tbody>
            </table>
        </column>
    </row>
</container>