@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - BSolutions.Bocons.Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/custom.min.css" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <navbar bc-brand-text="Bocons" bc-brand-image="~/images/bootstrap-solid.svg">
        <navbar-nav>
            <navbar-link href="/" bc-active="true">Home</navbar-link>
            <navbar-dropdown bc-title="Layout">
                <navbar-link href="/Layout/GridSystem">Grid System</navbar-link>
                <navbar-link href="/Layout/MediaObject">Media Object</navbar-link>
            </navbar-dropdown>
            <navbar-dropdown bc-title="Content">
                <navbar-link href="/Content/Images">Images</navbar-link>
                <navbar-link href="/Content/Tables">Tables</navbar-link>
                <navbar-link href="/Content/Figures">Figures</navbar-link>
            </navbar-dropdown>
            <navbar-dropdown bc-title="Components">
                <navbar-link href="/Components/Alerts">Alerts</navbar-link>
                <navbar-link href="/Components/Badge">Badge</navbar-link>
                <navbar-link href="/Components/Breadcrumb">Breadcrumb</navbar-link>
                <navbar-link href="/Components/Buttons">Buttons</navbar-link>
                <navbar-link href="/Components/Card">Card</navbar-link>
                <navbar-link href="/Components/Carousel">Carousel</navbar-link>
                <navbar-link href="/Components/ListGroup">List Group</navbar-link>
                <navbar-link href="/Components/Progress">Progress</navbar-link>
                <navbar-link href="/Components/Tabs">Tabs</navbar-link>
            </navbar-dropdown>
            <navbar-dropdown bc-title="Forms">
                <navbar-link href="/Forms/Index">Controls</navbar-link>
                <navbar-link href="/Forms/Validation">Validation</navbar-link>
            </navbar-dropdown>
        </navbar-nav>
        <navbar-form class="mx-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </navbar-form>
        <navbar-text>Signed in as <a href="#" class="navbar-link">Mark Otto</a></navbar-text>
    </navbar>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - BSolutions.Bocons.Test</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
