@{
    ViewData["Title"] = "Alerts";
}

<container>
    <row class="mt-4">
        <column xs-size="6">
            <alert bc-color="Primary">
                This is a primary alert—check it out!
            </alert>
            <alert bc-color="Secondary">
                This is a secondary alert—check it out!
            </alert>
            <alert bc-color="Success">
                This is a success alert—check it out!
            </alert>
            <alert bc-color="Danger">
                This is a danger alert—check it out!
            </alert>
            <alert bc-color="Warning">
                This is a warning alert—check it out!
            </alert>
            <alert bc-color="Info">
                This is a info alert—check it out!
            </alert>
            <alert bc-color="Light">
                This is a light alert—check it out!
            </alert>
            <alert bc-color="Dark">
                This is a dark alert—check it out!
            </alert>
        </column>
        <column xs-size="6">
            <alert bc-color="Primary">
                This is a Primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Secondary">
                This is a Secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Success">
                This is a Success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Danger">
                This is a Danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Warning">
                This is a Warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Info">
                This is a Info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Light">
                This is a Light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
            <alert bc-color="Dark">
                This is a Dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </alert>
        </column>
    </row>
    <row>
        <column xs-size="6">
            <alert bc-color="Primary" bc-title="Primary Heading">
                This is a primary alert—check it out!
            </alert>
            <alert bc-color="Secondary" bc-title="Secondary Heading">
                This is a secondary alert—check it out!
            </alert>
            <alert bc-color="Success" bc-title="Success Heading">
                This is a success alert—check it out!
            </alert>
            <alert bc-color="Danger" bc-title="Danger Heading">
                This is a danger alert—check it out!
            </alert>
            <alert bc-color="Warning" bc-title="Warning Heading">
                This is a warning alert—check it out!
            </alert>
            <alert bc-color="Info" bc-title="Info Heading">
                This is a info alert—check it out!
            </alert>
            <alert bc-color="Light" bc-title="Light Heading">
                This is a light alert—check it out!
            </alert>
            <alert bc-color="Dark" bc-title="Dark Heading">
                This is a dark alert—check it out!
            </alert>
        </column>
    </row>
</container>


