@{
    ViewData["Title"] = "Alerts";
}

<container>
    <row class="mt-4">
        <column>
            <h1>Example Heading <badge>New</badge></h1>
            <h2>Example Heading <badge>New</badge></h2>
            <h3>Example Heading <badge>New</badge></h3>
            <h4>Example Heading <badge>New</badge></h4>
            <h5>Example Heading <badge>New</badge></h5>
            <h6>Example Heading <badge>New</badge></h6>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <h2>Styles</h2>
            <badge bc-color="Primary">Primary</badge>
            <badge bc-color="Secondary">Secondary</badge>
            <badge bc-color="Success">Success</badge>
            <badge bc-color="Danger">Danger</badge>
            <badge bc-color="Warning">Warning</badge>
            <badge bc-color="Info">Info</badge>
            <badge bc-color="Light">Light</badge>
            <badge bc-color="Dark">Dark</badge>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <h2>Pills</h2>
            <badge bc-pill="true" bc-color="Primary">Primary</badge>
            <badge bc-pill="true" bc-color="Secondary">Secondary</badge>
            <badge bc-pill="true" bc-color="Success">Success</badge>
            <badge bc-pill="true" bc-color="Danger">Danger</badge>
            <badge bc-pill="true" bc-color="Warning">Warning</badge>
            <badge bc-pill="true" bc-color="Info">Info</badge>
            <badge bc-pill="true" bc-color="Light">Light</badge>
            <badge bc-pill="true" bc-color="Dark">Dark</badge>
        </column>
    </row>
</container>