@{
    ViewData["Title"] = "Card";
}

<container>
    <row class="mt-4">
        <column>
            <card>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Danger">
                    <p>
                        Card body and content.
                    </p>
                </card-body>
            </card>
        </column>
    </row>

    <row class="mt-4">
        <column>
            <card>
                <card-image src="~/images/card1.svg" bc-position="Top" />
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
            </card>
        </column>
        <column>
            <card>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
                <card-image src="~/images/card1.svg" bc-position="Bottom" />
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card>
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
            </card>
        </column>
        <column>
            <card>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
                <card-footer>Card Footer</card-footer>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card>
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
                <card-footer>Card Footer</card-footer>
            </card>
        </column>
        <column>
            <card bc-alignment="Center">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
                <card-footer>Card Footer</card-footer>
            </card>
        </column>
        <column>
            <card bc-alignment="Right">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" bc-button="true">Go somewhere</a>
                </card-body>
                <card-footer>Card Footer</card-footer>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card bc-color="Primary">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-color="Secondary">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-color="Success">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-color="Danger">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card bc-color="Warning">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-color="Info">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-color="Dark">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-color="Light">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card bc-border="Primary">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Primary">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-border="Secondary">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Secondary">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-border="Success">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Success">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-border="Danger">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Danger">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card bc-border="Warning">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Warning">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-border="Info">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Info">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-border="Dark">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Dark">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
        <column>
            <card bc-border="Light">
                <card-header>Card Header</card-header>
                <card-body bc-title="Card Title" bc-subtitle="Card Sub Title" bc-color="Light">
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </card-body>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card>
                <card-body>
                    This is some text within a card block.
                </card-body>
            </card>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card-group>
                <card>
                    <card-image src="~/images/card1.svg" bc-position="Top" />
                    <card-body bc-title="Card Title">
                        <p>
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
                        <a href="#" bc-button="true">Go somewhere</a>
                    </card-body>
                    <card-footer>
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </card-footer>
                </card>
                <card>
                    <card-image src="~/images/card1.svg" bc-position="Top" />
                    <card-body bc-title="Card Title">
                        <p>
                            This card has supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" bc-button="true">Go somewhere</a>
                    </card-body>
                    <card-footer>
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </card-footer>
                </card>
                <card>
                    <card-image src="~/images/card1.svg" bc-position="Top" />
                    <card-body bc-title="Card Title">
                        <p>
                            This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="#" bc-button="true">Go somewhere</a>
                    </card-body>
                    <card-footer>
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </card-footer>
                </card>
            </card-group>
        </column>
    </row>
    <row class="mt-4">
        <column>
            <card-deck>
                <card>
                    <card-image src="~/images/card1.svg" bc-position="Top" />
                    <card-body bc-title="Card Title">
                        <p>
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
                        <a href="#" bc-button="true">Go somewhere</a>
                    </card-body>
                    <card-footer>
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </card-footer>
                </card>
                <card>
                    <card-image src="~/images/card1.svg" bc-position="Top" />
                    <card-body bc-title="Card Title">
                        <p>
                            This card has supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" bc-button="true">Go somewhere</a>
                    </card-body>
                    <card-footer>
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </card-footer>
                </card>
                <card>
                    <card-image src="~/images/card1.svg" bc-position="Top" />
                    <card-body bc-title="Card Title">
                        <p>
                            This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="#" bc-button="true">Go somewhere</a>
                    </card-body>
                    <card-footer>
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </card-footer>
                </card>
            </card-deck>
        </column>
    </row>
</container>