<div class="row" style="margin-top: 80px;">
    <div class="col-md-6 col-md-offset-3">
        <modal bc-toggle-text="Toogle Modal">
            <modal-header bc-disable-close-icon="true">
                <h3>H3 Modal title</h3>
            </modal-header>
            <modal-body>
                Your content goes here!
            </modal-body>
            <modal-footer>
                <button type="button" data-dismiss="modal">Close</button>
                <button type="button">Save changes</button>
            </modal-footer>
        </modal>
    </div>
</div>