@{
    ViewData["Title"] = "Progress";
}

<container>
    <row class="mt-4">
        <column>
            <h4>Progress</h4>
            <progress bc-value="0" />
            <progress class="mt-2" bc-value="50" />
            <progress class="mt-2" bc-value="75" />
            <progress class="mt-2" bc-value="100" />
            <progress class="mt-2" bc-value="25" />
        </column>
        <column>
            <h4>Labels</h4>
            <progress class="mt-2" bc-value="0" bc-label="true" />
            <progress class="mt-2" bc-value="25" bc-label="true" />
            <progress class="mt-2" bc-value="50" bc-label="true" />
            <progress class="mt-2" bc-value="75" bc-label="true" />
            <progress class="mt-2" bc-value="100" bc-label="true" />
        </column>
    </row>
    <row class="mt-4">
        <column>
            <h4>Height</h4>
            <progress class="mt-2" bc-value="25" bc-height="1" />
            <progress class="mt-2" bc-value="25" bc-height="20" />
            <progress class="mt-2" bc-value="25" bc-height="40" />
        </column>
        <column>
            <h4>Styles</h4>
            <progress class="mt-2" bc-value="25" bc-color="Primary" />
            <progress class="mt-2" bc-value="50" bc-color="Secondary" />
            <progress class="mt-2" bc-value="75" bc-color="Success" />
            <progress class="mt-2" bc-value="50" bc-color="Info" />
            <progress class="mt-2" bc-value="25" bc-color="Warning" />
            <progress class="mt-2" bc-value="50" bc-color="Danger" />
            <progress class="mt-2" bc-value="75" bc-color="Dark" />
            <progress class="mt-2" bc-value="50" bc-color="Light" />
        </column>
    </row>
    <row class="mt-4">
        <column>
            <h4>Striped</h4>
            <progress class="mt-2" bc-value="25" bc-color="Primary" bc-striped="true" />
            <progress class="mt-2" bc-value="50" bc-color="Secondary" bc-striped="true" />
            <progress class="mt-2" bc-value="75" bc-color="Success" bc-striped="true" />
            <progress class="mt-2" bc-value="50" bc-color="Info" bc-striped="true" />
            <progress class="mt-2" bc-value="25" bc-color="Warning" bc-striped="true" />
            <progress class="mt-2" bc-value="50" bc-color="Danger" bc-striped="true" />
            <progress class="mt-2" bc-value="75" bc-color="Dark" bc-striped="true" />
            <progress class="mt-2" bc-value="50" bc-color="Light" bc-striped="true" />
        </column>
        <column>
            <h4>Animated</h4>
            <progress class="mt-2" bc-value="25" bc-color="Primary" bc-animated="true" />
            <progress class="mt-2" bc-value="50" bc-color="Secondary" bc-animated="true" />
            <progress class="mt-2" bc-value="75" bc-color="Success" bc-animated="true" />
            <progress class="mt-2" bc-value="50" bc-color="Info" bc-animated="true" />
            <progress class="mt-2" bc-value="25" bc-color="Warning" bc-animated="true" />
            <progress class="mt-2" bc-value="50" bc-color="Danger" bc-animated="true" />
            <progress class="mt-2" bc-value="75" bc-color="Dark" bc-animated="true" />
            <progress class="mt-2" bc-value="50" bc-color="Light" bc-animated="true" />
        </column>
    </row>
</container>